header {
    background: #ffffff;
    padding: 38px;
    border-bottom: #cccccc solid;
    margin-top: -8px;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    background: #4aaaa5;
    padding: 20px;
    color: white;
    width: 12%;
    margin-left: 325px;
    margin-bottom: 40px;
    top: -21px;
}

section {
    margin: auto;
    margin-top: 40px;
    position: relative;
    background: #ffffff;
    width: 45%;
    padding: 200px;
    padding-bottom: 80px;
    float: center;
    z-index: 1;
}

a {
    position: relative;
    float: right;
    margin-top: -17%;
    margin: 0;
    top: -145px;
    right: 0;
    z-index: 10;
}

h2 {
    font-size: 35px;
    padding-right: 1030px;
    padding-bottom: 20px;
    position: absolute;
    text-align: left;
    margin-top: 80px; 
    margin-left: 350px;  
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    color: #4aaaa5;
    z-index: 2;
    border-bottom: #cccccc solid;

    
}

img {
    width: 125px;
    height: 125px;
    margin-left: -15%;
}

#hangman {
    float: left;
    padding: 20px;
    margin-top: -50px; 
}

#RPG {
    padding: 20px;
}

#TRIVIA {
    position: relative;
    padding: 20px;
    float: left;
    margin-left: -50%;
}

#RPS {
    padding: 20px;
    float: left;
    margin-left: 30%;
    margin-top: -40%;
}


#RIW {
    position: relative;
    padding: 20px;
    float: right;
    margin-right: 50%;
    margin-top: -20%;
}

#HangmanT {
    z-index: 100;
    position: relative;
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  }

.footer {
    position: fixed;
    padding: 10px;
    border-top: #4aaaa5 solid 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
}

html {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png");
}